# <span style="color: rgb(232 121 249);"> <center> Genre Predict </center> </span>

<span style="color: rgb(248 113 113); font-size: 18px;" >Problem:</span> We have an online music store when our sign up we ask their age and gender and based on their profile. we recommend various Music albums they're likely to buy. So in this project we want to use machine to increase sales. 

So we want to build a model. We feed this model with some sample data based on the existing users. Our model will learn the patterns in our data, so we can ask it to make predictions. When a user signs up we tell our model, hey we have a new user with this profile. What is the kind of music that this user is iterested in. Our model will say jazz or hip hop or whatever and based on that. We can make suggestions to the user so this is the problem we're going to solve.


<span style="color: rgb(52 211 153); font-size: 17px;" >Steps:</span>
    
    1. Inspect and Preparing the data for model.
    2. Build the model for Learing and Predicting.
    3. Calculating the Accuracy.
    4. Persisting Models.
    5. Visualizing the Model.

In [2]:
# Import necessary module.
import pandas as pd

In [3]:
# Load data to DataFrame: music_data
music_data = pd.read_csv("music.csv")

## <center> step 1: Inspect and Preparing the data </center>

In [5]:
# Data inspection
music_data_modify

    age  gender      genre
0    20    Male     HipHop
1    23    Male     HipHop
2    25    Male     HipHop
3    26    Male       Jazz
4    29    Male       Jazz
5    30    Male       Jazz
6    31    Male  Classical
7    33    Male  Classical
8    37    Male  Classical
9    20  Female      Dance
10   21  Female      Dance
11   25  Female      Dance
12   26  Female   Acoustic
13   27  Female   Acoustic
14   30  Female   Acoustic
15   31  Female  Classical
16   34  Female  Classical
17   35  Female  Classical